<div class="col-sm-12 col-md-3 column">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h1><%= column_name %></h1>
    <a href="#" class="view-all-icon" data-toggle="tooltip" data-placement="bottom" title="View all">
      <%= fa_icon "table" %>
    </a>
  </div>
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <a class="p-0" href="">
        <%= fa_icon "search", text: "Search" %>
      </a>
      <div class="dropdown">
        <a class="nav-link dropdown-toggle p-0" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Newest first
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Newest first</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Oldest first</a>
        </div>
      </div>
    </div>
    <% if data == 'record' %>
      <% @records.each do |record| %>
        <% if record.record_type == column_name %>
          <%= render(partial: 'record_card', locals: {record: record})%>
        <% end %>
      <% end %>
    <% else %>
      <% @lobbyists.each do |lobbyist| %>
        <%= render(partial: 'lobbyist_card', locals: {lobbyist: lobbyist})%>
      <% end %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
