<div class="card-block">
  <div class="d-flex justify-content-between align-items-center">
    <h3 class="mb-0"><%= record.agency %></h3>
    <%= fa_icon "star", class:"record-item-star"%>
  </div>
  <p class="muted"><%= record.date %></p>
  <p><%= record.description %></p>
  <div class="d-flex justify-content-between align-items-end">
    <% if record.record_type == 'Legislative Status' %>
      <% if (record.status = 'Approved') || (record.status = 'Passed on 1st Reading') || (record.status = 'Passed on 2nd Reading') %>
        <span class="badge badge-success"><%= record.status %></span>
      <% elsif (record.status = 'Withdrawn') || (record.status = 'Denied') %>
        <span class="badge badge-danger"><%= record.status %></span>
      <% elsif record.status = 'Deferred' %>
        <span class="badge badge-primary"><%= record.status %></span>
      <% else %>
      <% end %>
    <% else %>
      <span class="badge badge-primary"><%= record.government %></span>
    <% end %>
    <a href="#" class="btn-link">View details</a>
  </div>
</div>
