<div class="card-block">
  <div class="d-flex justify-content-between align-items-center">
    <h3 class="mb-0"><%= record.agency %></h3>
    <%= fa_icon "star", class:"record-item-star"%>
  </div>
  <p class="muted mt-1"><% if record.date %><%= record.date.strftime("%b %d, %Y") %><% end %></p>
  <p class="record-description"><%= record.description %></p>
  <div class="d-flex justify-content-between align-items-end">
    <% if record.record_type == 'Legislative Status' %>
      <% if (record.legislation_status == 'Approved') || (record.legislation_status == 'Passed on 1st Reading') || (record.legislation_status == 'Passed on 2nd Reading') %>
        <span class="badge badge-success"><%= record.legislation_status %></span>
      <% elsif (record.legislation_status == 'Withdrawn') || (record.legislation_status == 'Denied') %>
        <span class="badge badge-danger"><%= record.legislation_status %></span>
      <% elsif record.legislation_status == 'Deferred' %>
        <span class="badge badge-primary"><%= record.legislation_status %></span>
      <% else %>
      <% end %>
    <% else %>
      <span class="badge badge-primary"><%= record.government %></span>
    <% end %>
    <%= link_to 'View details', record_path(record), data: {toggle: "modal", target: "#view-details"}, remote: true %>
  </div>
</div>

<div class="modal fade" id="view-details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <h4 class="modal-title" id="myModalLabel"><%= record.agency %></h4>
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
     </div>
     <div class="modal-body">
       <p class="font-weight-bold">Details</p>
       <p class="note"><%= record.description %></p>
       <p class="font-weight-bold mt-2">Government</p>
       <p class="note"><%= record.government %></p>
       <p class="font-weight-bold mt-2">Date and Time</p>
       <p class="note"><% if record.date %><%= record.date.strftime("%b %d, %Y at %l:%M %p") %><% end %></p>
       <p class="font-weight-bold mt-2">Address</p>
       <p class="note"><%= record.address %></p>
       <a href="<%= record.url %>" class="btn btn-outline-primary mb-3">Download the agenda</a>
       <div class="disclaimers">
         <p class="font-italic">The meeting item above may not be final and is subject to change or cancellation.</p>
         <p class="font-italic">Specific agenda items may not be scheduled for a time certain and may be heard out of order or tabled for a later meeting. Meeting time indicates the hour when the meeting will begin.</p>
       </div>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
     </div>
   </div>
 </div>
</div>
