<nav class="navbar py-0">
  <div class="logo">
    <%= link_to image_tag("logo.svg"), root_path %>
  </div>
  <div class="d-flex flex-row justify-content-between align-items-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <%= fa_icon "home", text: "Dashboard" %>
        </a>
      </li>
    </ul>
    <div class="d-flex">
      <form class="form-inline mr-3">
        <input class="form-control mr-sm-2" type="text" placeholder="Search all records">
      </form>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <%= fa_icon "user-circle-o", text: "Account" %>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<%= react_component('Record', description: 'test', date: 'test', government: 'test', agency: 'test') %>
<%= react_component('Record', description: 'test', date: 'test', government: 'test', agency: 'test') %>
<%= react_component('Record', description: 'test', date: 'test', government: 'test', agency: 'test') %>
<%= react_component('Record', description: 'test', date: 'test', government: 'test', agency: 'test') %>
<%= react_component('Record', description: 'test', date: 'test', government: 'test', agency: 'test') %>
<%= react_component('Record', description: 'test', date: 'test', government: 'test', agency: 'test') %>
<%= react_component('Record', description: 'test', date: 'test', government: 'test', agency: 'test') %>
