<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="mb-4">
          <h4 class="mb-4 mr-4">Code Amendments</h4>
          <form action="index.html" method="post">
              <div class="row mb-4">
                  <div class="col-sm-12 col-md-6">
                    <label for="">Search</label>
                    <input type="text" class="form-control" placeholder="Search for topic or keyword">
                  </div>
                  <div class="col-sm-12 col-md-6">
                      <div class="row">
                          <div class="col-sm-12 col-md-6">
                                <label for="">Government</label>
                                <input type="text" class="form-control mb-4" placeholder="Government">
                                <label for="">Start Date</label>
                                <input type="date" class="form-control" placeholder="Start date" aria-describedby="basic-addon1">
                          </div>
                          <div class="col-sm-12 col-md-6">
                                <label for="">Agency</label>
                                <input type="text" class="form-control mb-4" placeholder="Agency">
                                <label for="">End Date</label>
                                <input type="date" class="form-control" placeholder="End date" aria-describedby="basic-addon1">
                          </div>
                      </div>
                  </div>
              </div>
              <div class="d-flex justify-content-end">
                  <button type="submit" name="button" class="btn btn-primary mb-6">Search</button>
              </div>
          </form>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Description</th>
            <th>Government</th>
            <th>Agency</th>
            <th>Date</th>
            <th>Agenda Link</th>
          </tr>
        </thead>
        <% @records.each do |record| %>
            <% if record.record_type == "Code Amendments" %>
              <tr>
                <td><%= record.description %></td>
                <td><%= record.government %></td>
                <td><%= record.agency %></td>
                <td class="text-nowrap"><%= record.date.strftime("%b %d, %Y at %l:%M %p") %></td>
                <td>
                    <% if record.url %>
                        <%= link_to "Download agenda", record.url, class: "btn btn-outline-primary btn-sm" %>
                    <% end %>
                </td>
              </tr>
            <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>
