<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="ui form">
  <%= form_for(@lobbyist) do |f| %>
    <% if @lobbyist.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@lobbyist.errors.count, "error") %> prohibited this record from being saved:</h2>

        <ul>
        <% @lobbyist.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.label :government %><br>
      <%= f.text_field :government%>
    </div>
    <div class="field">
      <%= f.label :fee %><br>
      <%= f.number_field :fee%>
    </div>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name%>
    </div>
    <div class="field">
      <%= f.label :principal %><br>
      <%= f.text_field :principal%>
    </div>
    <div class="field">
      <%= f.label :date %><br>
      <%= f.date_select :date, :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' } %>
    </div>
    <div class="actions">
      <%= f.submit 'Save' %>
    </div>
  <% end %>
</div>
    </div>
  </div>
</div>
